.parent{
    border: 5px solid black;
    width: 500px;
    height: 200px;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
}
.parent2ß{
    border: 5px solid black;
    width: 500px;
    height: 200px;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
}
.child{
    border: 2px solid black;
    margin: 5px 10px;
}